.new-quote__title {
  font-family: 'Gabriel Weiss Friends', sans-serif;
  color: $main-blue;
  text-align: center;
  margin-top: 15px;
}

.form {
  &__fieldset.add-new {
    border-top: 2px solid $main-blue;
    border-bottom: none;
  }
  &__add {
    margin: 15px;
    padding-bottom: 5px;
    &--input {
      color: $main-blue;
      font-size: 1.4rem;
      &:focus {
        border: 2px solid $main-blue;
      }
    }
    &--btn {
      background-color: $main-blue;
      color: white;
      padding: 2px 5px;
      border: none;
      border-radius: 5px;
    }
  }
}

.hidden {
  display: none;
}