:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

@font-face {
  font-family: 'Gabriel Weiss Friends';
  src: url('../font/GABRWFFR.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
