:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list__item {
    list-style-type: none;
    padding-bottom: 10px;;
    &--character {
        color: brown;
    }
}